*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
}

.calculatorContainer{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    margin-top: 50px;
}

.calculatorContainer > button{
    outline: none;
    border: 1px solid black;
    font-size: 2rem;
    transition: 0.5s;
}

button:hover{
    background-color: grey;
    color: white;
}

.displayScreen{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    height: 100%;
    background-color: grey;
    color: white;
    border: 1px solid black;
    font-size: 2rem;
}

#allClear{
    background-color: rgb(233,108,31);
    grid-column: span 2;
}

#allClear:hover{
    background-color: rgb(207,79,0);
    color: white;
}

#evaluate{
    background-color: rgb(207,205,204);
    grid-column: span 3;
}

#evaluate:hover{
    background-color: rgb(129,123,120);
    color: white;
}